<footer class="footer">
    <span class="footer__copyright">&copy; {{date format="YYYY"}}. Todos los derechos .</span>
    <span class="footer__copyright">Orgullosamente publicado con <a href="http://ghost.org" title="link to Ghost website">Ghost</a></span>
</footer>